@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .line {
    @apply relative
            after:bg-yellow-600
            after:h-[1px] 
            after:w-[0%] 
            after:rounded-xl
            after:left-0 
            after:-bottom-[1px] 
            after:absolute 
            after:duration-300 
            hover:after:w-full
            after:content-[''];
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: rgb(226 232 240);
}
