@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .line {
    @apply relative
            after:bg-yellow-500
            after:h-[1px]
            after:w-[0%]
            after:rounded-xl
            after:left-0
            after:-bottom-[1px]
            after:absolute
            after:duration-300
            hover:after:w-full
            after:content-[''];
  }
  .active-line {
    @apply relative
            after:bg-yellow-500
            after:h-[1px]
            after:rounded-xl
            after:left-0
            after:-bottom-[1px]
            after:absolute
            after:duration-300
            after:w-full
            after:content-[''];
  }
}

body {
  background-color: rgb(226 232 240);
  overflow-x: hidden;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: #edf2f7;
}

::-webkit-scrollbar-thumb {
  background-color: #eab308;
  border-radius: 5px;
  transition: all 0.3 ease;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #fbbf24;
}

.phoneInputCustom input {
  border: none;
  outline: none;
  background-color: #f9fafb;
}
.phoneInputCustom input:focus {
  border: none;
  outline: none;
}
